/*============================FONTS====================*/
@font-face {
    font-family: Gilroy-Black;
    src: url(../fonts/Gilroy-Black.otf);
}

@font-face {
    font-family: Gilroy-Bold;
    src: url(../fonts/Gilroy-Bold.otf);
}

@font-face {
    font-family: Gilroy-ExtraBold;
    src: url(../fonts/Gilroy-ExtraBold.otf);
}

@font-face {
    font-family: Gilroy-Heavy;
    src: url(../fonts/Gilroy-Heavy.otf);
}

@font-face {
    font-family: Gilroy-Light;
    src: url(../fonts/Gilroy-Light.otf);
}
@font-face {
    font-family: Gilroy-Medium;
    src: url(../fonts/Gilroy-Medium.otf);
}

@font-face {
    font-family: Gilroy-Regular;
    src: url(../fonts/Gilroy-Regular.otf);
}

@font-face {
    font-family: Gilroy-SemiBold;
    src: url(../fonts/Gilroy-SemiBold.otf);
}

@font-face {
    font-family: Gilroy-Thin;
    src: url(../fonts/Gilroy-Thin.otf);
}

@font-face {
    font-family: Gilroy-UltraLight;
    src: url(../fonts/Gilroy-UltraLight.otf);
}

/*============================UI====================*/
html {
  background: #101114;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100vh !important;
}
.container-960 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

.container-1200 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
}

#landing {
  width: 100vw;
  min-height: 100vh;
  background: #FFF2E0;
  padding-top: 72px;
}
.navbar {
  position: fixed !important;
  top: 0;
  width: 100%;
  height: 72px;
  padding-top: 28px;
  margin-bottom: 0px !important;
  /* text-transform: uppercase !important; */
}
.navbar>div {
  padding-left: 0px;
  padding-right: 0px;
}
.navbar>.desktop>div>a {
  width: 100px;
  font-family: Gilroy-Semibold;
  font-size: 16px;
  color: #1D223B ;
  line-height: 28px;

}
.navbar>.desktop>.left>a {
  float: left;
  display: block;
  text-align: left;
}
.navbar>.desktop>.right>a {
  float: right;
  display: block;
  text-align: right;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#hero {
  margin-top:
}
h1 {
  font-family: Gilroy-Bold !important;
  font-size: 64px !important;
  color: #1D223B !important;
  line-height: 68px !important;
}

#petal-icon {
  width: 80px;
  height: 80px;
  background: url(../images/petal-icon.svg) no-repeat;
  background-size: cover;
  background-color: #FFFFFF;
  /* box-shadow: 0 8px 12px 0 #EBDAC3; */
  border-radius: 18px;
  margin-bottom: 32px;
}

#hero-content {
  padding-top: calc(50vh - 220px);
}
#hero-phone {
  height: 100vh;
  background: url(../images/phone-hero.png) no-repeat;
  background-size: contain;
  background-position: center right;
}
#illu {
  position: absolute;
  height: 700px;
  width: 400px;
  right: 0px;
  top: calc(100vh - 550px);
  background: url(../images/illu.svg) no-repeat;
  background-size: cover;
}
.infront {
  z-index: 999;
}
.atback {
  z-index: 0;
}

#scroll-down {
  position: absolute;
  margin: 0 auto;
  width: 128px;
  left: 0;
  right: 0;
  top: calc(100vh - 80px);
  font-family: Gilroy-SemiBold;
  text-align: center;
  font-size: 12px;
  color: #1D223B;
  line-height: 28px;
}

section {
  margin-bottom: 144px;
}
section:last-of-type {
  margin-bottom: 0px !important;
}
.icon {
  width: 24px;
  height: 24px;
}
.icon.arrow-down {
  background: url(../images/arrow-down.svg) no-repeat;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 0px;
}

#design {
  padding-top: 72px;
}
#design>div>div {
  margin-bottom: 160px;
}

#design>div>div>.text {
  display: table;
}
#design>div>div>.text>.content {
  display: table-cell;
  vertical-align: middle;
}

#d1>.picture {
  height: 500px;
  background: url(../images/d1.png) no-repeat;
  background-size: contain;
}

#d2>.picture {
  height: 500px;
  background: url(../images/d2.png) no-repeat;
  background-size: contain;
}

#d3>.picture {
  height: 400px;
  background: url(../images/d3.png) no-repeat;
  background-size: contain;
  background-position: center;
}

h2.right {
  /* margin-top: calc(50% - 96px); */
  font-family: Gilroy-Bold;
  font-size: 48px;
  color: #1D223B;
  text-align: right;
  line-height: 58px;
  margin-bottom: 20px;
}
h2.left {
  /* margin-top: calc(50% - 96px); */
  font-family: Gilroy-Bold;
  font-size: 48px;
  color: #1D223B;
  text-align: left;
  line-height: 58px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 16px !important;
}
p.right {
  opacity: 0.5;
  font-family: Gilroy-Regular;
  font-size: 18px;
  color: #1D223B;
  text-align: right;
  line-height: 28px;
}

p.center {
  opacity: 0.5;
  font-family: Gilroy-Regular;
  font-size: 18px;
  color: #1D223B;
  text-align: center;
  line-height: 28px;
}

p.left{
  opacity: 0.5;
  font-family: Gilroy-Regular;
  font-size: 18px;
  color: #1D223B;
  text-align: Left;
  line-height: 28px;
}

#news {
  height: auto;
  background: #E7FFF5;
  overflow: hidden;
  position: relative;
}

#news>.bg {
  opacity: 0.4;
  display: block;
  background: url(../images/stroke.svg) repeat;
  height: 500%;
  left: 0;
  width: 500%;
  transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -webkit-transform-origin: left bottom;
  position: absolute;
}
#news>div>div>div {
  float: left;
  margin-top: 72px;
  margin-bottom: 72px;
}
.icon-news {
  height: 450px;
  background: url(../images/news.svg) no-repeat;
  background-position: center left;
}
h4 {
  font-family: Gilroy-Medium !important;
  font-size: 24px !important;
  color: #1D223B !important;
}

h4.center {
  text-align: center !important;
}
button.green.small {
  background: url(../images/icon-arrow-white.svg) no-repeat;
  background-position: 108px center;
  background-color: #1ED28B;
  border-radius: 100px;
  height: 48px;
  outline: none;
  font-family: Gilroy-SemiBold;
  font-size: 18px;
  color: #FFFFFF;
  text-align: right;
  padding-left: 24px;
  padding-right: 60px;
  border: none;
}
.ex {
  display: flex;
   align-items: center;
}
.profile {
  width: 100%;.desktop>
}
div>.profile {
  margin-bottom: 8px;
}
#team>div>div>div {
  margin-bottom: 16px;
}
#team>div>div#photo-container {
  padding-left: 0px;
  padding-right: 0px;
}

#team>div>div>h2 {
  margin-top: 0px;
}

#divider1 {
  height: 40px;
  background: url(../images/division.svg) no-repeat;
  margin-bottom: 144px;
  background-size: contain;
}
.signature {
  width: 100%;
  text-align: center;
  margin-bottom: 32px;
}
.links {
  padding-top: 32px;
  padding-bottom: 72px;
}

.reverse-col {
  transform: rotate(180deg);
  direction: rtl; /* Fix the horizontal alignment */
}

.reverse-col > [class*="col-"] {
  transform: rotate(-180deg);
  direction: ltr; /* Fix the horizontal alignment */
}
button.hamburger {
  width: 48px;
  height: 48px;
  background: url(../images/hamburger.svg) no-repeat;
  border: none;
  outline: none;
}

button.cross {
  width: 48px;
  height: 48px;
  background: url(../images/close.svg) no-repeat;
  border: none;
  outline: none;
}

.hidden {
  display: none;
}

#menu {
  position: fixed;
  z-index: 999999;
  top: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  padding: 15px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#menu>div {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center !important;
}
#menu>div>a {
  font-family: Gilroy-SemiBold;
  font-size: 32px;
  color: #1D223B;
  line-height: 40px;
}

#timeline-container {
  position: absolute;
  height: 100%;
  overflow-y: hidden;
}
#timeline {
  position: relative;
  height: 100%;
  width: 8px;
  left: 60px;
  background-color: #EEF0F5;
}

section#page-title {
  padding-top: 144px;
  padding-bottom: 72px;
  margin-bottom: 0px;
  background: #FFF2E0;
}

.article {
  position: relative;
  padding-top: 36px;
  padding-bottom: 36px;
}
.article>div>#timestamp {
  margin-top: 16px;
  background: #FFFFFF;
  height: 58px;
  padding-top: 10px;
}

.article:first-of-type>#timeline-container>#timeline {
  margin-top: 40px;
}

.article:last-of-type>#timeline-container>#timeline {
  bottom: calc(100% - 40px);
}

.article>.content>img {
  margin-bottom: 16px;
  width: 100%;
}

footer {
  border-top: 1px solid #EEF0F5;
}

.hero-play {
  outline: none !important;
  margin:0 auto;
  display:block;
  position: relative;
  top: 316px;
  left: 8px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: url(../UI/button_play.svg) no-repeat !important;
  background-color: #FFFFFF !important;
  border: none !important;
  box-shadow: 0 8px 24px 0 rgba(29,34,59,0.27);
}
<<<<<<< HEAD
.demo-link {
  text-decoration:none;
  
}
=======
>>>>>>> master
